.container  {
  position: relative;
  display: flex;
  height: calc(100vh - 52px);
  marginTop: topBarHeight;
  overflowX: hidden;
}

.menuContainer  {
  flex: 0 0 280px;
  overflowY:auto;
  overflowX:hidden;
  userSelect:none;
  background:linear-gradient(to bottom right, #eaebed, #eaebed);
}

.contentContainer  {
  flex: auto;
  userSelect:none;
  overflow: auto;
  overflowX: hidden;
}

.topToolbar {
  borderTop: solid 1px #c7c5c4;
  borderBottom: solid 1px #c7c5c4;
  top: 0;
  position: absolute;
  display: flex;
  width: 100%;
  backgroundColor: #eaebed;
}
